##################################################################################
## la.ucf
##
## Author: Michael "Mr. Sump" Poppitz
##
## Details: http://sump.org/projects/analyzer/
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints.
##################################################################################


# Crystal Clock - use 50MHz onboard oscillator
NET "xtalClock" LOC = "B8" | IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "xtalClock" PERIOD = 20.0ns HIGH 40%;
# external Clock - use Auxiliary clock
NET "exClock"  LOC = "U9" | IOSTANDARD = LVCMOS33 ;

# This overrides ERROR:Place:1018 
NET "exClock" CLOCK_DEDICATED_ROUTE = FALSE;

# Four 7-Segment LED displays
NET "an<0>"  LOC = "F17" | IOSTANDARD = LVTTL ;
NET "an<1>"  LOC = "H17" | IOSTANDARD = LVTTL ;
NET "an<2>"  LOC = "C18" | IOSTANDARD = LVTTL ;
NET "an<3>"  LOC = "F15" | IOSTANDARD = LVTTL ;
NET "segment<0>"  LOC = "L18" | IOSTANDARD = LVTTL ;
NET "segment<1>"  LOC = "F18" | IOSTANDARD = LVTTL ;
NET "segment<2>"  LOC = "D17" | IOSTANDARD = LVTTL ;
NET "segment<3>"  LOC = "D16" | IOSTANDARD = LVTTL ;
NET "segment<4>"  LOC = "G14" | IOSTANDARD = LVTTL ;
NET "segment<5>"  LOC = "J17" | IOSTANDARD = LVTTL ;
NET "segment<6>"  LOC = "H14" | IOSTANDARD = LVTTL ;
NET "segment<7>"  LOC = "C17" | IOSTANDARD = LVTTL ;

# Removed ready50 (next sample ready)
# NET "ready50" LOC = "m11" | IOSTANDARD = LVTTL ;

# LED use LED<7:0>
NET "led<0>"  LOC = "J14" | IOSTANDARD = LVTTL ;
NET "led<1>"  LOC = "J15" | IOSTANDARD = LVTTL ;
NET "led<2>"  LOC = "K15" | IOSTANDARD = LVTTL ;
NET "led<3>"  LOC = "K14" | IOSTANDARD = LVTTL ;
NET "led<4>"  LOC = "E16" | IOSTANDARD = LVTTL ;
NET "led<5>"  LOC = "P16" | IOSTANDARD = LVTTL ;
NET "led<6>"  LOC = "E4" | IOSTANDARD = LVTTL ;
NET "led<7>"  LOC = "P4" | IOSTANDARD = LVTTL ;

# Reset - use BTN<3>
NET "resetSwitch"  LOC = "H13" | IOSTANDARD = LVTTL;
NET "switch<0>"  LOC = "G18" | IOSTANDARD = LVTTL;
NET "switch<1>"  LOC = "H18" | IOSTANDARD = LVTTL;

# RS-232 interface
NET "rx"  LOC = "U6" | IOSTANDARD = LVTTL;
NET "tx"  LOC = "P9" | IOSTANDARD = LVTTL;

NET "input<0>" LOC = "B4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<1>" LOC = "A4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<2>" LOC = "C3" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<3>" LOC = "C4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<4>" LOC = "B6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<5>" LOC = "D5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<6>" LOC = "C5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<7>" LOC = "F7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<8>" LOC = "E7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<9>" LOC = "A6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<10>" LOC = "C7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<11>" LOC = "F8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<12>" LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<13>" LOC = "E8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<14>" LOC = "E9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<15>" LOC = "C9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<16>" LOC = "A8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<17>" LOC = "G9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<18>" LOC = "F9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<19>" LOC = "D10" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<20>" LOC = "A10" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<21>" LOC = "B10" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<22>" LOC = "A11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<23>" LOC = "D11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<24>" LOC = "E10" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<25>" LOC = "B11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<26>" LOC = "C11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<27>" LOC = "E11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<28>" LOC = "F11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<29>" LOC = "E12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<30>" LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "input<31>" LOC = "A13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;


NET "xtalClock" TNM_NET = "xtalClock";
TIMESPEC "TS_xtalClock" = PERIOD "xtalClock" 20 ns HIGH 50 %;

# ignore paths resulting from flags as those will
# not change during time critical operations
NET "Inst_core/Inst_flags/demux" TIG;
NET "Inst_core/Inst_flags/filter" TIG;
NET "Inst_core/Inst_flags/inverted" TIG;
NET "Inst_core/Inst_flags/external" TIG;

#INST "Inst_sync/*" AREA_GROUP = "in";
#AREA_GROUP "in" COMPRESSION = 1;
